html {
    box-sizing: border-box;
    font-size: 16px;
    font-weight:400;
    font-family: Calibri, 'Trebuchet MS', sans-serif 
}
*, *:before, *::after{
    box-sizing: inherit;
}
body {
    padding: 20px;
}
#card {
    border-radius: 5px;
    box-shadow: 2px 3px 7px 0px rgba(0, 0, 0, 0.55);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
#top {

    width: 100%;
    height: 45%;
}
#top h4 {
    color: #c0df34;
}
#top h2 {
    color: #2ab2af;
}
#top p {
    color: #2EBFBD;
}

#bottom {
    /* display: flex; */
    width: 1500px;
    height: 55%;
}
#bottom-left {
    color: #fff;
    padding: 20px;
    background-color: #2ab2af;
    display: inline-block;
    width: 50%;
    height: 100%;
    vertical-align: top;
    
}
#bottom-right {
    color: #fff;
    padding: 20px;
    background-color: #2EBFBD;
    display: inline-block;
    height: 100%;
    width: 50%;
    vertical-align: top;
}
/* #bottom-left h3 {
    margin-top: 32px;
} */
button {
    color: white;
    background-color: #c0df34;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
}
#price, #price-frequency {
    display: inline-block;
}
#price {
    font-weight: 800;
    font-size: 1.4rem;
}
#price-frequency {
    position: relative;
    top: -3px;
    padding-left: 5px;
}
